.campus{
    margin: 60px auto;
    width: 90%;
    text-align: center;
}
.gallery{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;

}
.gallery img{
    width:23%;
    border-radius: 10px;
}
.btn-1{
    background: #323eaa;
    color: rgb(255, 255, 255);
    padding: 14px 16px;
    border-radius: 30px;
    cursor: pointer;
    border: 1px solid;
    border-color: white;
    outline: 0;
    font-size: 14px;
    font-weight: 400;
    transition: 0.4s ease;
}
.btn-1:hover{
    background-color:transparent;
    color: rgb(0, 0, 0);
    border-color: rgb(255, 0, 0);
    

    
}